.dp-block {
  display: block;
}

.dp-inline {
  display: inline;
}

.dp-flex {
  display: flex;
}

.dp-row {
  display: flex;
  flex-direction: row;
}

.dp-column {
  display: flex;
  flex-direction: column;
}

.dp-grid {
  display: grid;
}

.dp-inlineblock {
  display: inline-block;
}

.dp-inlineflex {
  display: inline-flex;
}

.dp-inlinegrid {
  display: inline-grid;
}
